body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    position: relative;
    margin: 0;
    flex: 1;
}

#navbar {
    flex: 1;
    z-index: 100;
    top: 0;
    right: 0;
    min-height: 60px;
    display: flex;
    justify-content: right;
    align-items: left;
    background-color: white;
  }
  
   ul li {
    display: inline-block;
    padding: 15px;
    margin-right: 5rem;
  }
  
  li {
    color: #163832;
    font-weight: 600;
    font-size: 25px;
    z-index: 110;
  }

.section-one {
    display: flex;
}

.welcome-image {
    flex: 60%;
}

.background-homepage {
    background-image: url(../images/309295836_1164279214164100_3629959367239869499_n.jpg);
    background-size: cover;
    background-position: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(38% 0, 100% 0%, 100% 100%, 8% 100%);
    height: 50em;
}

.welcome-text {
    flex: 40%;
    margin-left: 10%;
    margin-top: 8%;
}

.welcome-text p {
    display: inline-block;
    color: #163832;
    font-size: 20px;
}

h1 {
    color: #163832;
}

.welcome-h1 {
    font-size: 60px;
    margin-bottom: 0;
}

.portfolio-h1 {
    padding-bottom: 3%;
    text-align: left;
}

h2 {
    text-align: center;
    padding: 5%;
    font-size: 30px;
    color: black;
    margin: 0;   
}

.about-section {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
}

.about-text {
    flex: 60%;
    padding: 5%;
    background-color: #163832;
}

.about-text p {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.about-image {
    flex: 40%;
}

.about-image img {
    height: 30em;
    width: 30em;
}

.projects-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5%;
    row-gap: 5%;
    padding: 0 7%;
}


.card {
    flex: 1;
    border: rgba(0, 0, 0, 0.251) solid 1px;
    border-radius: 1%;
    min-height: 300px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.card-image:hover {
    opacity: 50%;
}

.card-image,
.card-text {
flex: 1;
}

.card-image img {
    height: 100%;
    width: 100%;
}

.cta-button {
    background-color: white;
    color:#163832;
    display: inline;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    text-align: center;
    width: 200px;
    margin: 7% auto;
    display:block;
  }

  .cta-button:hover {
    background-color: #163832;
    color: white;
  }